<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="./img/asset-favicon.ico" />
  <title>社交-头条</title>
  <!-- 页面 css js -->
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
  <link rel="stylesheet" type="text/css" href="./css/page-headline-logined.css" />
  <link rel="stylesheet" href="./css/element.css">
  <style>
    a {
      text-decoration: none;
      color: #696969;
    }

    a:hover {
      text-decoration: none;
      color: #696969;
    }
    .data-list .stop {
      padding: 5px;
      margin-bottom: 5px;
      text-align: center;
      background-color: #e64620;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <!--引用组件-->
    <!--头部导航-->
    <header>
    </header>
    <!--三列布局-->
    <div class="sj-content" id="app">
      <div class="left-nav">
        <div class="float-nav" id="float-nav">
          <ul class="sui-nav nav-tabs nav-xlarge tab-navbar tab-vertical">
            <li :class="clickIndex==-1?'active':''" @click="clickHot">
              <a>热门</a>
            </li>
            <li v-for="(item,index) in channels" :class="clickIndex==index?'active':''">
              <a href="javascript:;" @click="channelClicked(item.id,index)">{{item.name}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="right-content">
        <div class="fl middle">
          <div class="carousel">
            <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="active item">
			<a href="/headline-detail.html?id=6">
                  		<img src="./img/widget-banner01.png" />
			</a>
                </div>
                <div class="item">
                  <img src="./img/widget-banner02.png" />
                </div>
                <div class="item">
                  <img src="./img/widget-banner01.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="data-list">
            <ul class="headline fixed" id="headline">
              <li class="headline-item" v-for="(item,index) in articles">
                <div class="fl indexImg" style="width:100%">
                  <img :src="item.image" style="width: 300px;" v-if="item.image"/><br>
                </div>
                <div class="words">
                  <a :href="'headline-detail.html?id='+item.id">
                    <h3>{{item.title}}
                      <span>
                        <img src="" class="vip" />
                      </span>
                    </h3>
                  </a>
                  <h5 class="author">
                    <div class="fl">
                      <span class="authorName">
                        <img :src="item.user.avatar?item.user.avatar:'./img/widget-photo.jpg'" alt=""> {{item.user.username}} </span>
                      <span>{{formatTime2(item.createtime)}}</span>
                    </div>
                    <div class="fr attention">
                      <span class="attentionText" @click="collect(item.id,index)" style="border:none" v-if="!item.collected">收藏</span>
                      <span class="attentionText" @click="cancel_collect(item.id,index)" style="border:none" v-else>取消收藏</span>
                    </div>
                    <div class="clearfix"></div>
                  </h5>
                </div>
                <p class="content" v-html="item.content" v-if="item.content.length<100"></p>
                <p class="content" v-html="item.content.substr(0,100) + '...'" v-else></p>
              </li>
            </ul>
            <ul id="loaded" class="headline">
            </ul>
            <div class="stop">
              <a href="javascript:;" @click="getMore">{{moreTips}}</a>
           </div>
          </div>

        </div>
        <div class="fl right">
          <div class="activity" v-if="activityList.length">
            <div class="acti">
              <a :href="'/activity-detail.html?id=' + activityList[0].id">
                <img style="width:100%;height:150px" :src="activityList[0].image" alt="activityList[0].name" />
              </a>
            </div>
          </div>
          <div class="block-btn">
            <p>今天，有什么好文章要发表么?</p>
            <a class="sui-btn btn-block btn-share" href="./headline-submit.html" target="_blank">发布文章</a>
          </div>
          <div class="question-list">
            <h3 class="title">热门回答</h3>
            <div class="lists">
              <ul>
                <li class="list-item" v-for="(item, index) in problemList">
                  <a :href="'./qa-detail.html?id='+item.id" target="_blank" style="color:#696969;">
                    <p class="list-title">{{item.title}}</p>
                  </a>
                  <p class="authorInfo">
                    <span class="authorName">
                      <img :src="item.user.avatar?item.user.avatar:'./img/widget-photo.png'" alt="" />{{item.user.username}}</span>
                    <span>{{formatTime2(item.createtime)}}</span>
                  </p>

                </li>
              </ul>
              <a class="sui-btn btn-block btn-bordered btn-more" href="/qa-index.html">查看更多</a>
            </div>
          </div>
          <div class="activity-list">
            <h3 class="title">活动日历</h3>
            <div class="list">
              <ul>
                <li class="list-item" v-for="(item, index) in activityList">
                  <p class="list-time"> {{formatTimeContainsWeek(item.starttime)}} {{item.city}} </p>
                  <div class="list-content clearfix">
                    <div class="fl img" style="width:100%">
                      <img style="width:100%;height:150px" :src="item.image" alt="" />
                    </div>
                    <div>
                      <a :href="'/activity-detail.html?id=' + activityList[0].id">
                        <p>{{item.name}}</p>
                      </a>
                    </div>
                  </div>
                </li>

              </ul>
              <a class="sui-btn btn-block btn-bordered btn-more" href="/activity-index.html">查看更多</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <div class="footer-bottom">
        <div class="link">
          <dl>
            <dt>
              网站相关
            </dt>
            <dd>
              关于我们
            </dd>
            <dd>
              服务条款
            </dd>
            <dd>
              帮助中心
            </dd>
            <dd>
              编辑器语法
            </dd>
          </dl>
          <dl>
            <dt>
              常用链接
            </dt>
            <dd>
              传智播客
            </dd>
            <dd>
              传智论坛
            </dd>
          </dl>
          <dl>
            <dt>
              联系我们
            </dt>
            <dd>
              联系我们
            </dd>
            <dd>
              加入我们
            </dd>
            <dd>
              建议反馈
            </dd>
          </dl>
          <dl>
            <dt>
              关注我们
            </dt>
            <dd>
              微博
            </dd>
            <dd>
              twitter
            </dd>
          </dl>
          <div class="xuke">
            <h3>内容许可</h3>
            <p>除特别说明外，用户内容均采用知识共享署名-非商业性使用-禁止演绎4.0 国际许可协议 (CC BY-NC-ND 4.0) 进行许可</p>
            <p>本站由 传智研究院 提供更新服务</p>
          </div>
        </div>
        <p class="Copyright">Copyright &copy; 2017 传智问答社区 当前版本 0.0.1</p>
      </div>
    </div>
  </div>
</body>

</html>
<script src="js/host.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/element.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/headline_index.js"></script>
