<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="./img/asset-favicon.ico" />
  <title>社交-所有标签</title>
  <!-- 页面 css js -->
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->
  <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
  <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
  <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
  <link rel="stylesheet" type="text/css" href="./css/page-sj-qa-allTag.css" />
  <link rel="stylesheet" href="./css/element.css">
</head>

<body>
  <div class="wrapper">
    <!--引用组件-->
    <!--头部导航-->
    <header>
    </header>
  </div>
  <!--两列布局-->
  <div class="wrapper all-tags" id="app">
    <div class="tags-head">
      <h2 class="tag-title">标签</h2>
      <p class="tag-second">标签是最有效的内容组织形式，正确的使用标签能更快的发现和解决你的问题。</p>
    </div>
    <div class="alltags-card">
      <ul class="yui3-g tags-list" style="display:block;">
        <li class="tag-item yui3-u-1-4" v-for="(item,index) in tagList">
          <div class="inner">
            <h5 class="title">
              <a :href="'qa-tagDetail.html?id='+item.id" target="_blank">{{item.label_name}}</a>
            </h5>
            <div class="guanzhu">
              <a href="javascript:;" class="sui-btn btn-guanzhu color" v-if="item.has_focus" @click="focusout_tag(item.id, index)">已关注</a>
              <a class="sui-btn btn-danger color" v-else @click="focusin_tag(item.id, index)">加关注</a>
              <span class="guannum">
                <i class="num">{{item.focus_count}}</i>人关注</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <div class="footer-bottom">
        <div class="link">
          <dl>
            <dt>
              网站相关
            </dt>
            <dd>
              关于我们
            </dd>
            <dd>
              服务条款
            </dd>
            <dd>
              帮助中心
            </dd>
            <dd>
              编辑器语法
            </dd>
          </dl>
          <dl>
            <dt>
              常用链接
            </dt>
            <dd>
              传智播客
            </dd>
            <dd>
              传智论坛
            </dd>
          </dl>
          <dl>
            <dt>
              联系我们
            </dt>
            <dd>
              联系我们
            </dd>
            <dd>
              加入我们
            </dd>
            <dd>
              建议反馈
            </dd>
          </dl>
          <dl>
            <dt>
              关注我们
            </dt>
            <dd>
              微博
            </dd>
            <dd>
              twitter
            </dd>
          </dl>
          <div class="xuke">
            <h3>内容许可</h3>
            <p>除特别说明外，用户内容均采用知识共享署名-非商业性使用-禁止演绎4.0 国际许可协议 (CC BY-NC-ND 4.0) 进行许可</p>
            <p>本站由 传智研究院 提供更新服务</p>
          </div>
        </div>
        <p class="Copyright">Copyright &copy; 2017 传智问答社区 当前版本 0.0.1</p>
      </div>
    </div>
  </div>
</body>

</html>
<script src="js/host.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/element.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/qa_alltag.js"></script>